#cubecontainer {
  -webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 200px;
  -moz-perspective: 800px;
  -moz-perspective-origin: 50% 200px;
  perspective: 800px;
  perspective-origin: 50% 200px;
  /* background-image: url(../images/sonic.gif);
  background-repeat: no-repeat; */
}

.backone {
  position:absolute;
  left:0px;
  top:60px;
  height: 450px;
  z-index:-1;
}

.backonefade {
  position:absolute;
  left:300px;
  top:60px;
  height: 450px;
  width: 65%;
  z-index:-1;
}

.backtwo {
  position:absolute;
  left:0px;
  top:510px;
  height: 450px;
  z-index:-1;
}

#croppedModal {
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}

.backtwofade {
  position:absolute;
  left:300px;
  top:510px;
  height: 450px;
  width: 65%;
  z-index:-1;
}

.backthree {
  position:absolute;
  left:0px;
  top:960px;
  height: 450px;
  z-index:-1;
}

.backthreefade {
  position:absolute;
  left:300px;
  top:960px;
  height: 450px;
  width: 65%;
  z-index:-1;
}

.imageunder {
  position:absolute;
  left:0px;
  top:0px;
  z-index:-1;
}

.cube {
  position: relative;
  margin: 50px auto;
  height: 300px;
  width: 300px;
  -webkit-transition: -webkit-transform 2s linear;
  -webkit-transform-style: preserve-3d;
  -moz-transition: -moz-transform 2s linear;
  -moz-transform-style: preserve-3d;
  transition: transform 2s linear;
  transform-style: preserve-3d;
}

.imageunder {
  position:absolute;
  left:0px;
  top:0px;
  z-index:-1;
}

.imageover {
  position:absolute;
  left:0px;
  top:0px;
  z-index:1;
}

.face {
  position: absolute;
  height: 300px;
  width: 300px;
  padding: 0px;
  /* background-color: rgba(50, 50, 50, 0.7); */
  background-color: rgba(80, 80, 80, 0.1);
  font-size: 27px;
  line-height: 1em;
  color: #fff;
  border: 1px solid #555;
  border-radius: 3px;
  opacity: 1;
}

.full {
  height: 100%;
  width: 100%;
}

.pic {
  display: inline-block;
}

.pics {
  position: absolute;
  top:140px;
}

.pics input {
  width: 125px;
  margin: 5px;
}

.pics .picsquare {
  border:2px solid black;
  height: 125px;
  width: 125px;
}

.pics .picsquare img {
  max-width: 125px;
  max-height: 125px;
}

.pics2 {
  position: absolute;
  top:600px;
}

.pics2 input {
  width: 125px;
  margin: 5px;
}

.pics2 .picsquare {
  border:2px solid black;
  height: 125px;
  width: 125px;
}

.pics2 .picsquare img {
  max-width: 125px;
  max-height: 125px;
}

.pics3 {
  position: absolute;
  top:1050px;
}

.pics3 input {
  width: 125px;
  margin: 5px;
}

.pics3 .picsquare {
  border:2px solid black;
  height: 125px;
  width: 125px;
}

.pics3 .picsquare img {
  max-width: 125px;
  max-height: 125px;
}

#cropContainerHeader {
  width: 200px;
  height: 150px;
  position:relative; /* or fixed or absolute */
}

.cube .one  {
  -webkit-transform: rotateX(90deg) translateZ(150px);
  -moz-transform: rotateX(90deg) translateZ(150px);
  transform: rotateX(90deg) translateZ(150px);
}

.cube .two {
  -webkit-transform: translateZ(150px);
  -moz-transform: translateZ(150px);
  transform: translateZ(150px);
}

.cube .three {
  -webkit-transform: rotateY(90deg) translateZ(150px);
  -moz-transform: rotateY(90deg) translateZ(150px);
  transform: rotateY(90deg) translateZ(150px);
}

.cube .four {
  -webkit-transform: rotateY(180deg) translateZ(150px);
  -moz-transform: rotateY(180deg) translateZ(150px);
  transform: rotateY(180deg) translateZ(150px);
}

.cube .five {
  -webkit-transform: rotateY(-90deg) translateZ(150px);
  -moz-transform: rotateY(-90deg) translateZ(150px);
  transform: rotateY(-90deg) translateZ(150px);
}

.cube .six {
  -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(150px);
  -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(150px);
  transform: rotateX(-90deg) rotate(180deg) translateZ(150px);
}
